.gym-header-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 60px;
}

.gym-header {
      font-size: clamp(18px, 2vw, 22px); /* Mo-scale depende sa screen */
        padding-top: 10px;
        padding-left: 20px;
}

.gym-box-header {
    display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* Para if gamay ang screen, mo-wrap ang sulod */
        width: 100%;
        padding: 20px;
}

.gymSearch {
    width: 240px;
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
}

.gymBtn {
    width: 140px;
    height: 38px;
    border-radius: 12px;
    font-size: 11px;
    background: linear-gradient(rgb(48, 2, 2), rgb(68, 1, 1));
    border: none;
    color: white;
}