* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.content-main-container {
    width: 100%;
    height: 100%; 
    overflow-y: scroll;
}

.navBar-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 0px 0px 10px 0px rgba(77, 0, 0, 0.103);
    z-index: 10000;
    background-color: white;
}

.nav-links ul{
    display: flex;
}

.nav-links  li {
    margin: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: maroon;
}

.nav-links video {
    width: 40px;
    height: 40px;
    background: none;
}

.link {
    margin-top: 26px;
    padding-left: 5px;
}

.contentBtn {
    display: flex;
    gap: 10px; /* spacing between buttons */
    padding-top: 10px;
}

.primBtn {
    padding: 8px 16px;
    border: none;
    background-color: maroon;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
    font-size: 11px;
    height: 35px;
    width: 100px;
    border-radius: 14px;
    margin: 5px;
}

.primBtn:hover {
    background-color: darkred;
}

.menuBar video {
    display: none;
    width: 40px;
    height: 40px;
}


/*content container*/

.content-container {
    width: 100%;
    height: max-content;
}

.welcome-container {
    width: 500px;
    height: 400px;
    box-shadow: 0px 0px 10px;
    margin-top: 10%;
    border-radius: 15px;
}

.offer-container {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 120px;
    flex-wrap: wrap;
    gap: 20px;
}

.offer-box {
    width: 380px;
    height: 300px;
    box-shadow: 0px 0px 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin: 15px;
}